@import '../../../BandeauNEW.css';
:root
{
	--BandeauCouleur: rgb(216,118,13);
	--MatiereCouleur: rgb(216,118,13);
}

#cours1
{
	background-image: url("../../PZ IMAGES/JC.png")
}


#cours2
{
	background-image: url("../../PZ IMAGES/GF.png")
}





