@import '../../../BandeauNEW.css';
:root
{
	--BandeauCouleur: rgb(216,118,13);
	--MatiereCouleur: rgb(216,118,13);
}






#Sommaire_cours
{
	margin: auto;
	width: 80%;
	padding: 0px 50px;	
	background-color: white;
	border: 3px rgb(230,230,230) solid;


	border-radius: 25px ;
}



#cours
{
	display: flex;
	width: 80%;
	margin: 80px auto;
	cursor: pointer;
	transition: 200ms;
	border-radius: 0px  0px 15px 0px  ;
	border: 3px grey solid;

}



#image_tema
{
	background-color: orange;
	width: 250px;
    height: 150px;
	background-size: cover;

}

#titre_tema
{
	transition: 200ms;
	margin-left: 50px;
	padding: 20px;
	width: 60%;
	color: grey;
	font-weight: bold;
	font-size: 17px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cours:hover > #titre_tema
{
	transition: 200ms;
	color: orange;
}


#cours:hover
{
	transition: 200ms;
	border: 3px orange solid;
	transform: scale(1.02); 
}







@media (max-width: 1000px)
{
	

	#Sommaire_cours
	{
		margin: auto;
		width: 80%;
		padding: 0px 50px;	
		background-color: white;
		border: 3px rgb(230,230,230) solid;


		border-radius: 50px ;
	}



	#cours
	{
		display: block;
		width: 750px;
		border-radius: 0px 0px 40px 0px ;
		margin-bottom: 150px;

	}



	#image_tema
	{
		width: 750px;
		height: 450px;
	}

	#titre_tema
	{	
		font-size: 40px;
	}



}



