body
{
	font-family: Avenir, sans-serif;

	background-color: /*blanc*/ rgb(238,238,238);
}




											/*BOUTON PRINCIPAL*/






#bandeau
{
	background-color: /*vert*/ rgb(51,163,83);
	padding: 0.5px;
	display: flex;
	margin: -1%;
	border-bottom: 5px /*vert*/ rgb(51,163,83) solid;
	border-top: 5px /*vert*/ rgb(51,163,83) solid;



}



	

		



.PP:nth-child(1) a

{
	text-decoration: none;
	/*background-color: rgb(255,226,43);*/
	color: white;
	padding: 20px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 24px;
	padding-top:23px;
}



.PP:nth-child(1):hover a
 
{
	
	background-color: /*vert foncé*/ rgb(47,149,74);
	color: /*vert*/ white;
	border-bottom: 5px /*vert plus foncé*/ rgb(36,115,57) solid;				/*gold rgb(255,226,43)*/
	/*border-top: 5px vert plus foncé rgb(36,115,57) solid;	*/
	/*transition: 0.1s all;*/


}





.PP:nth-child(2) a

{
	text-align: center;
	border-bottom: 5px /*vert plus foncé*/ rgb(36,115,57) solid;
	text-decoration: none;
	background-color:  /*vert foncé*/ rgb(47,149,74);
	color: white;
	padding: 20px;
	padding-bottom: 23px;
	padding-top: 23px;
	font-family: Trebuchet MS;
}



.PP:nth-child(2):hover a
 
{
	
	border-bottom: 5px /*jaune google*/ rgb(244,183,4) solid;				/*gold rgb(255,226,43)*/


}





#préambule
{
	justify-content: space-around;
	align-items: center;
	margin: auto;
	padding-top: 10px;
	/*display: flex;*/
	background-color: white;
	height: 70px;
	width: 1000px;
	text-align: center;

}






#footer
{
	background-color: /*vert*/ rgb(36,115,57);
	padding: 20px;

	display: flex;
	margin: -1%;
	border-bottom: 5px /*vert*/ rgb(36,115,57) solid;
	border-top: 5px /*vert*/ rgb(36,115,57) solid;
	padding-left: 50px;
}





.P/*:nth-child(1)*/ a

{
 

	text-decoration: none;
	/*background-color: rgb(255,226,43);*/
	color: rgb(238,238,238)  ;
	padding: 20px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 24px;
	padding-top:23px;
	border-right: 1px rgb(238,238,238) solid;
}
